{% set title = "Fancy Dashboard" %}

{% extends 'base.html.twig' %}

{% block stylesheets %}

        <!-- plugin css -->
        <link href="/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

        <!-- swiper css -->
        <link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">
        {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- JAVASCRIPT -->
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/metismenujs/metismenujs.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/feather-icons/feather.min.js"></script>

<!-- apexcharts -->
    <script src="/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- swiper js -->
    <script src="/libs/swiper/swiper-bundle.min.js"></script>

<script src="/js/pages/dashboard.init.js"></script>

    <script src="/js/app.js"></script>
{% endblock %}

{% block body %}
<div id="layout-wrapper">
    {{ include('partials/topbar.html.twig', {pagetitle: 'layouts', title: 'Vertical'}) }}
    {{ include('partials/sidebar.html.twig') }}

    <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    

                    

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body pb-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-2">Recent Orders</h5>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table project-list-table table-nowrap align-middle table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 210px">Customer</th>
                                                        <th scope="col" style="width: 140px">Product Name</th>
                                                        <th scope="col">Order ID</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Stock</th>
                                                        <th scope="col">Trend</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="/images/users/avatar-1.jpg" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1">Neal Matthews</div>
                                                            </div>
                                                        </td>
                                                        <td>Office Chair</td>
                                                        <td>
                                                          <span>#526552</span>
                                                        </td>
                                                        <td>
                                                            $210.00
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><i class="mdi mdi-square-rounded font-size-10 text-success me-2"></i>Available</p>
                                                        </td>
                                                        <td>
                                                            <div id="chart-sparkline1" data-colors='["--bs-primary"]' class="apex-charts"></div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="text-muted dropdown-toggle font-size-18" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                    <a class="dropdown-item" href="#">Print</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="/images/users/avatar-2.jpg" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1">Connie Franco</div>
                                                            </div>
                                                        </td>
                                                        <td>Black T-shirt</td>
                                                        <td>
                                                            <span>#746648</span>
                                                        </td>
                                                        <td>
                                                            $150.00
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><i class="mdi mdi-square-rounded font-size-10 text-success me-2"></i>Available</p>
                                                        </td>
                                                        <td>
                                                            <div id="chart-sparkline2" data-colors='["--bs-primary"]' class="apex-charts"></div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="text-muted dropdown-toggle font-size-18" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                    <a class="dropdown-item" href="#">Print</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="/images/users/avatar-3.jpg" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1">Paul Reynolds</div>
                                                            </div>
                                                        </td>
                                                        <td>Smart Watch</td>
                                                        <td>
                                                            <span>#125635</span>
                                                        </td>
                                                        <td>
                                                          $260.00
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><i class="mdi mdi-square-rounded font-size-10 text-danger me-2"></i>Out Of Stock</p>
                                                        </td>
                                                        <td>
                                                            <div id="chart-sparkline3" data-colors='["--bs-primary"]' class="apex-charts"></div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="text-muted dropdown-toggle font-size-18" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                    <a class="dropdown-item" href="#">Print</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="/images/users/avatar-4.jpg" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1">Ronald Patton</div>
                                                            </div>
                                                        </td>
                                                        <td>Apple Phone</td>
                                                        <td>
                                                            <span>#236521</span>
                                                        </td>
                                                        <td>
                                                            $170.00
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><i class="mdi mdi-square-rounded font-size-10 text-success me-2"></i>Available</p>
                                                        </td>
                                                        <td>
                                                            <div id="chart-sparkline4" data-colors='["--bs-primary"]' class="apex-charts"></div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="text-muted dropdown-toggle font-size-18" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                    <a class="dropdown-item" href="#">Print</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="/images/users/avatar-5.jpg" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1"> Adella Perez</div>
                                                            </div>
                                                        </td>
                                                        <td>New Shoes</td>
                                                        <td>
                                                            <span>#236521</span>
                                                            
                                                        </td>
                                                        <td>
                                                            $240.00
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><i class="mdi mdi-square-rounded font-size-10 text-danger me-2"></i>Out Of Stock</p>
                                                        </td>
                                                        <td>
                                                            <div id="chart-sparkline5" data-colors='["--bs-primary"]' class="apex-charts"></div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="text-muted dropdown-toggle font-size-18" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                    <a class="dropdown-item" href="#">Print</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {{ include('partials/footer.html.twig') }}
        </div>
        <!-- end main content-->
</div>

{% endblock %}
